app.js
events.txt
node_modules/
auth.json
tenc
docs/
temp/
config_dev.json
configs/auth.json
configs/config_dev.json
configs/config_dev_old.json
configs/auth_dev.json
configs/auth_dev_old.json
modules/cache/*
modules/waifu/img/
modules/waifu/img/
log.txt
bump.cmd
log/*
modules/youtube/videos/*
ignore/
Mods/ModMC.js
specialbot.js
logger/